body {
  background-color: rgb(228, 228, 228);
  font-family: Helvetica, sans-serif;
}

.app-container {
  margin: 2em;
}

.canvas {
  background-color: white;
}

.editor {
  width: 960px;
  margin: auto;
}

.canvas-wrapper {
  width: 512px;
  float: left;
}

.tools {
  float: left;
}

.preview {
  margin: 0px 10px;
}

h1 {
  font-weight: normal;
  font-size: 2.5em;
}

h3 {
  background-color: rgb(182, 182, 182);
  padding: 0.5em;
  margin: 0;
  font-size: 0.7em;
  font-weight: normal;
  float: left;
}

.preview-square {
  float: left;
  margin-right: 1em;
}

.download-link {
  display: inline-block;
  margin-bottom: 5px;
}

.drawing-info {
  color: rgb(114, 114, 114);
}

h1 {
  clear: both;
}

.segment:hover {
  fill: red;
}

.download-link {
  color: gray;
  font-size: 0.9em;
}

.download-link:hover {
  color: black;
}

h1 a {
  color: black;
}

h1 a:hover {
  color: blue;
}

h1, ul, p, footer {
  width: 960px;
  margin: 1em auto 0.2em;
}

footer {
  text-align: center;
  margin-top: 2em;
}

.selection-rectangle {
  fill: #92afff71;
}

.preview polygon {
  stroke: black;
}

.color-picker {
  display: inline-block;
  margin-left: 10px;
}

footer {
  clear: both;
  padding-top: 20px;
}

#page {
  clear: both;
}

h1#experiences-label {
  padding: 0;
  margin: 0;
  padding-top: 25px;
}

#page h1 {
  font-size: 1.4em;
}

#page h2 {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#page p {
  margin: 0;
}

#bio {
  clear: left;
  padding: 10px;
  width: 350px;
  color: rgb(123, 123, 123);
  font-size: 1.3em;
}

#page ul {
  margin: 0 0 10px;
  padding: 0;
}

#page li {
  list-style: none;
}

.guideline {
  stroke: rgb(235, 235, 235);
}
